<h1 data-room-id="<%= params[:id] %>">Rooms#show</h1>
<div id="slide1">
slide1
</div>

<div id="slide2">
slide2
</div>

<div id="slide3">
slide3
</div>

<div id="slide4">
slide4
</div>
<button type="button" id="next">next</button>

<style>
div{
  display: none;
}
</style>